p {
    color: white;
}

h2 {
    color:rgb(255, 255, 255);
    /* text-align: center; */
    font-size: 35px;
    margin-left: 40px;
}

h4 {
    color:blueviolet;
    text-align: center;
}

html, body {
    height: max-content;
}

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(55, 55, 55)) no-repeat;
    height: 100%;
    /* display: grid; */
}

img {
    margin: 10px;
}

.header {
    background-color: rgb(5, 5, 5);
    width: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid white;
}

.inl {
    display: inline-block;
}

.div1 {
    border: 5px dotted rgba(255, 214, 147, 0.371); 
    width: 300px; 
    height: 300px; 
    margin: 10px; 
    /* text-align: center; */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    border: 5px solid rgba(255, 214, 147, 0.371); 
    width: 500px; 
    height: 300px; 
    float: none; 
    /* text-align: center; */
    display: inline-block;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.div3 {
    border: 5px dashed rgba(255, 214, 147, 0.371); 
    width: 300px; 
    height: 300px; 
    margin: 10px; 
    /* text-align: center; */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .child {
    /* border: 2px solid black; */
    text-align: center;
  }

  .divIMGinfo {
    display: flex;
    border: 5px dotted rgba(255, 214, 147, 0.371); 
    width: 300px; 
    height: 300px; 
    margin: 10px;
    /* padding: 10px; */
  }

  .imgDIV{
    /* padding-left: 160px;  */
    display: inline-block; 
    display: flex;
    border: 5px dashed rgba(255, 255, 255, 0.281);
  }

  .login{
    border: 5px dotted rgb(107, 168, 159);
    height: 300px;
    width: 900px;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
  }

button{
    background-color: aqua;
    font-size: 15px;
    
}
