h2 {
    color:darkred;
    /* text-align: center; */
    font-size: 35px;
}

h4 {
    color:blueviolet;
    text-align: center;
}

body {
    background-color: blanchedalmond;
    display: grid;
}

img {
    margin: 10px;
}

.header {
    background-color: bisque;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.inl {
    display: inline-block;
}

.div1 {
    border: 5px dotted rgb(255, 214, 147); 
    width: 300px; 
    height: 300px; 
    margin: 10px; 
    /* text-align: center; */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    border: 10px double brown; 
    width: 300px; 
    height: 300px; 
    float: none; 
    /* text-align: center; */
    display: inline-block;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.div3 {
    border: 5px dashed rgb(255, 214, 147); 
    width: 300px; 
    height: 300px; 
    margin: 10px; 
    /* text-align: center; */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .child {
    /* border: 2px solid black; */
    text-align: center;
  }

  .divIMGinfo {
    display: flex;
    border: 5px dotted rgb(255, 214, 147); 
    width: 300px; 
    height: 300px; 
    margin: 10px;
    /* padding: 10px; */
  }

  .imgDIV{
    /* padding-left: 160px;  */
    display: inline-block; 
    display: flex;
    border: 5px dashed rgb(0, 0, 0);
  }

  .login{
    border: 5px dotted rgb(107, 168, 159);
    height: 300px;
    width: 900px;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
  }